
@media(min-width: 768px) { 768 }

@media(min-width: 768px and max-width: 1023) { 1000 }

@media(min-width: 1024px and max-width: 1440) { 1200 }

@media(min-width: 1440px) { 1440 }

nav {

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: #540B51;
    widht: 50%;
    margin: 0;
}

.buttoncontainer a {
    color: white;
}

.buttoncontainer ul {
    list-style: none;
    display:inline-block;
}

.listcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    width: 50%;
    margin: 0;
}

}

header {
    width: auto;
    margin: 0;

}

main {
    width: auto;
    margin: 0;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    height: 50px;
    ;
}